typing-extensions==4.7.1
pycryptodome==3.18.0
coincurve==18.0.0
aiohttp[speedups]==3.8.5
jsonrpcclient==4.0.3
mnemonic==0.20
bip32==3.4
simplejson==3.19.2
snapshottest
sphinx-rtd-theme
readthedocs-sphinx-ext
